html
{
	background-image: url(http://maocorporativo.com.mx/images/wallpapersxl-fondos-blancos-con-azul-fondo-de-escritorio-diseno-blanco-29527-1366x768.jpg);
	
}
#p1{
background: yellow;
}
#p2{
background: red;
}
#p3{
background: green;
}
#p4{
background: purple;
}
#p5{
background: orange;
}
